<h3>Posted by {{user.username}} on {{post.postDate}}</h3>


{{#if is_current_logged_in_user_author}}
<form class="form edit-form"></form>
  <div class="form-group"></div>
    <label for="blog-title">blog title:</label>
    <input type="text" id="blog-title" name="blog-title" value="{{title}}" />
  </div>
  <div class="form-group"></div>
    <label for="blog-content">blog content:</label>
    <textarea type="text" id="blog-content" name="blog-content">{{content}}</textarea>
  </div>
  <div class="form-group">
    <button id ="editbutton" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div class="form-group">
    <button id ="deletebutton" type="submit" class="btn btn-primary">Delete</button>
  </div>
<script src="/js/editpost.js"></script>
{{else}}

<h4>{{title}}<br>{{content}}</h4>

<div class="col-md-6">
  <h3>Add a comment to post:</h3>

  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment-text">comment text:</label>
      <textarea class="form-input" id="comment-text" name="comment-text"></textarea>
    </div>
    <div class="form-group">
      <button id = "editbutton" type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
 <script src="/js/comment.js"></script>
{{/if}}




<div class="col-md-6 project-list">
  <h3>Comments:</h3>

  {{#each comments as |comment|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h3>Posted by {{user.username}} at {{formate_date comment.commentDate}}</h3>
      <h3>comment content:{{comment.commentContent}}</h3>
    </div>
  </div>
  {{/each}}